 <?xml version="1.0" encoding="utf-8" ?>
 
 <widget xmlns = "http://www.w3.org/ns/widgets"
         xmlns:gap = "http://phonegap.com/ns/1.0"
		 id    = "com.JackMorris.MobileApp"
		 versionCode = "4"
		 version = "4.1.2"
		 
		 
		 <name>MusicApp</name>
		 
		 <description>Quiz app.</description>
		 
		 <author 
		 Jack Morris
		 </author>
		 
</widget>